@use "../abstracts/variables" as var;

.card {
    border: 1px solid var.$color-white;
    text-align: start;
    border-radius: 15px;
    overflow: hidden;
    position: relative;

    img {
        width: 100%;
        height: auto;
    }
}