@use "../abstracts/variables" as var;

.banner {
    background-image: url(../img/banner.webp);
    padding: 60px 0;

    .banner-container {
        background-color: var.$transparent-bg;
        backdrop-filter: blur(3px);
        padding: 20px;
        margin-top: 350px;
        width: 50%;
    }
}