@use "../abstracts/variables" as var;

body {
    margin: 0;
    font-family: var.$main-font;
    background-color: var.$primary-color;
    color: var.$color-white;

    * {
        box-sizing: border-box;
    }

    a {
        text-decoration: none;
    }

    li {
        list-style-type: none;
    }

    h1 {
        color: var.$title-color;
    }

    h2 {
        color: var.$title-color;
    }
}