@use "../abstracts/variables" as var;

.product {
    text-align: center;
    margin-top: 100px;

    .product-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        h2 {
            color: var.$color-white;
        }

        .product-deck1 {
            background-image: url(../img/bfheuakyrubvwr448i.webp);
            background-position: center;
            background-size: cover;

            img {
                width: 100%;
                padding-top: 400px;
            }
        }

        .product-deck2 {
            background-image: url(../img/Bniwbiedb2.webp);
            background-position: center;
            background-size: cover;

            img {
                width: 100%;
                padding-top: 400px;
            }
        }

        .product-deck3 {
            background-image: url(../img/BbvlL835T_CMM_420x700.webp);
            background-position: center;
            background-size: cover;

            img {
                width: 100%;
                padding-top: 400px;
            }
        }

        .product-deck4 {
            background-image: url(../img/Cwtyiugh346-420x700.webp);
            background-position: center;
            background-size: cover;

            img {
                width: 100%;
                padding-top: 400px;
            }
        }
    }
}