@charset "UTF-8";
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

@font-face {
  font-family: "Roboto Medium";
  src: url(../fonts/static/Roboto-Medium.ttf);
}
.btn {
  padding: 7px 20px;
  background-color: #C93814;
  border-radius: 5px;
  display: inline-block;
  color: white;
}

.card {
  border: 1px solid white;
  text-align: start;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}
.card img {
  width: 100%;
  height: auto;
}

.banner {
  background-image: url(../img/banner.webp);
  padding: 60px 0;
}
.banner .banner-container {
  background-color: rgba(233, 233, 233, 0.514);
  backdrop-filter: blur(3px);
  padding: 20px;
  margin-top: 350px;
  width: 50%;
}

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .container .footer-title {
  text-align: center;
}
footer .container .footer-list {
  display: flex;
  gap: 20px;
}
footer .container .footer-list a {
  color: white;
}
footer .container .footer-légal p {
  color: rgba(233, 233, 233, 0.514);
}

header {
  top: 0;
  left: 0;
  width: 100%;
  background-color: #0B0D0F;
  padding: 20px 0;
}
header img {
  height: 50px;
}
header div {
  display: flex;
  justify-content: space-between;
  gap: 35%;
  margin: 6px 5%;
}
header .header-container {
  display: flex;
  gap: 10px;
  align-items: center;
}
header .header-container .border {
  padding-right: 10px;
  border-right: 1px solid white;
}
header .header-container a {
  color: white;
}

body {
  margin: 0;
  font-family: "Roboto Medium";
  background-color: #0B0D0F;
  color: white;
}
body * {
  box-sizing: border-box;
}
body a {
  text-decoration: none;
}
body li {
  list-style-type: none;
}
body h1 {
  color: #C93814;
}
body h2 {
  color: #C93814;
}

.promo {
  background-color: #C93814;
}
.promo .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.promo .container p a {
  background-color: rgba(233, 233, 233, 0.514);
  padding: 3px;
  color: white;
  border-radius: 5px;
}
.promo .container div .btn {
  background-color: white;
  color: black;
}

.news {
  margin-top: 100px;
}
.news .container {
  text-align: center;
}
.news .container .news-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}
.news .container .news-container .card .card-img a {
  top: 1em;
  left: 1em;
  position: absolute;
  background-color: #C93814;
  z-index: 10;
  padding: 5px;
  border-radius: 20px;
  color: white;
}
.news .container .news-container .card .card-content {
  padding: 10px;
}
.news .container .news-container .card .card-content ul {
  display: flex;
  gap: 10px;
}
.news .container .news-container .card .card-content ul li {
  color: white;
  border: 1px solid white;
  padding: 5px;
  border-radius: 20px;
  background-color: rgba(233, 233, 233, 0.514);
}

.mobile {
  margin-top: 100px;
  background-image: url(../img/latest-products-bg.webp);
  background-position: center;
  background-size: cover;
  padding: 50px 0;
}
.mobile .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mobile .container .mobile-content ul .list-primary {
  margin-top: 10px;
  padding: 5px;
  border: 1px solid rgba(233, 233, 233, 0.514);
  border-radius: 5px;
  max-width: 50%;
}
.mobile .container .mobile-content ul .list-primary a {
  color: white;
}
.mobile .container .mobile-content ul .mobile-condition {
  color: rgba(233, 233, 233, 0.514);
}
.mobile .container .mobile-content ul .mobile-btn {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.mobile .container .mobile-content ul .mobile-btn li .btn-secondary {
  border: 1px solid #C93814;
  background-color: transparent;
  color: #C93814;
}

.product {
  text-align: center;
  margin-top: 100px;
}
.product .product-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.product .product-container h2 {
  color: white;
}
.product .product-container .product-deck1 {
  background-image: url(../img/bfheuakyrubvwr448i.webp);
  background-position: center;
  background-size: cover;
}
.product .product-container .product-deck1 img {
  width: 100%;
  padding-top: 400px;
}
.product .product-container .product-deck2 {
  background-image: url(../img/Bniwbiedb2.webp);
  background-position: center;
  background-size: cover;
}
.product .product-container .product-deck2 img {
  width: 100%;
  padding-top: 400px;
}
.product .product-container .product-deck3 {
  background-image: url(../img/BbvlL835T_CMM_420x700.webp);
  background-position: center;
  background-size: cover;
}
.product .product-container .product-deck3 img {
  width: 100%;
  padding-top: 400px;
}
.product .product-container .product-deck4 {
  background-image: url(../img/Cwtyiugh346-420x700.webp);
  background-position: center;
  background-size: cover;
}
.product .product-container .product-deck4 img {
  width: 100%;
  padding-top: 400px;
}

/*# sourceMappingURL=style.css.map */
